Repository albertobadia/zoopipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-tests, rust-lint, rust-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-lint
        name: Python Lint
        entry: sh lint.sh
        language: system
        types: [python]
        pass_filenames: false
      
      - id: python-tests
        name: Python Tests
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        # Ejecutar tests puede ser lento, pero el usuario lo pidió explícitamente en el pre-commit
      
      - id: rust-lint
        name: Rust Lint
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types_or: [rust, toml] # Correr si cambian archivos rust o Cargo.toml
        pass_filenames: false
      
      - id: rust-tests
        name: Rust Tests
        entry: cargo test
        language: system
        types_or: [rust, toml]
        pass_filenames: false

ADD: PipeManager -> Engine (future cluster support)
  README.md
  docs/executors.md
  docs/pipemanager.md
  examples/03_executor_comparison.py
  examples/13_pipemanager.py
  src/zoopipe/__init__.py
  src/zoopipe/engines/__init__.py
  src/zoopipe/engines/base.py
  src/zoopipe/engines/local.py
  src/zoopipe/manager.py
  src/zoopipe/pipe.py
  tests/test_engines.py
Due: python-lint, python-tests

ADD: PipeManager Ray exngine support
  .rayignore
  README.md
  docs/pipemanager.md
  docs/ray.md
  pyproject.toml
  src/zoopipe/engines/ray.py
  src/zoopipe/output_adapter/arrow.py
  src/zoopipe/output_adapter/csv.py
  src/zoopipe/output_adapter/parquet.py
  src/zoopipe/pipe.py
  src/zoopipe/report.py
  tests/test_ray_engine.py
  uv.lock
Due: python-lint, python-tests, rust-lint, rust-tests

ADD: PipeManager Dask exngine support
  docs/dask.md
  docs/pipemanager.md
  docs/ray.md
  pyproject.toml
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/ray.py
  src/zoopipe/utils.py
  src/zoopipe/utils/__init__.py
  src/zoopipe/utils/dependency.py
  tests/test_dask_engine.py
  tests/test_utils.py
  uv.lock
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Remove metadata import fallback (not needed)
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/ray.py
Due: python-lint, python-tests

UPDATE: New release
  Cargo.lock
  Cargo.toml
Due: rust-lint, rust-tests

UPDATE: Docs
  README.md
  benchmark.svg
  build.log
  docs/executors.md
  docs/hooks.md
  favicon.svg
  logo.svg
Due: none

IMPROVE: logo
  README.md
  benchmark.svg
  logo-dark.svg
  logo-light.svg
Due: none

FIX: docs build
  .gitignore
  .readthedocs.yaml
  docs-requirements.txt
  docs/assets/benchmark.svg
  docs/assets/favicon.svg
  docs/assets/logo-dark.svg
  docs/assets/logo-light.svg
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: rust-lint, rust-tests

IMPROVE: Relase Python's GIL on Rust threads (thread safe)
  src/zoopipe_core/src/executor/multithread.rs
  src/zoopipe_core/src/executor/strategy.rs
  src/zoopipe_core/src/pipeline.rs
  uv.lock
Due: rust-lint, rust-tests

ADD: enable CI on dev
  .github/workflows/ci.yml
  README.md
  logo.svg
Due: none

FIX: move to next release version
  Cargo.lock
  Cargo.toml
Due: rust-lint, rust-tests

IMPROVE: Docs home reads main readme
  README.md
  docs/index.md
  mkdocs.yml
Due: none

IMPROVE: Postgres performance - Copy on write
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  src/zoopipe_core/src/parsers/mod.rs
  src/zoopipe_core/src/parsers/sql.rs
  src/zoopipe_core/src/parsers/sql/backend.rs
  src/zoopipe_core/src/parsers/sql/backends/generic.rs
  src/zoopipe_core/src/parsers/sql/backends/mod.rs
  src/zoopipe_core/src/parsers/sql/backends/postgres.rs
  src/zoopipe_core/src/parsers/sql/mod.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
  src/zoopipe_core/src/parsers/sql/types.rs
  src/zoopipe_core/src/parsers/sql/utils.rs
  src/zoopipe_core/src/parsers/sql/writer.rs
  tests/integrations/__init__.py
  tests/integrations/benchmark_copy_direct.py
  tests/integrations/benchmark_huge_csv.py
  tests/integrations/benchmark_postgres.py
  tests/integrations/test_postgres.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Kafka performance - new lib version
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  pyproject.toml
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/io/storage.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/kafka.rs
  src/zoopipe_core/src/pipeline.rs
  tests/integrations/benchmark_e2e_multi_stage.py
  tests/integrations/benchmark_kafka.py
  tests/integrations/benchmark_s3.py
  tests/integrations/test_kafka_integration.py
  tests/integrations/test_s3_integration.py
  tests/test_kafka_adapter.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Local file output parent auto created from core, kafka benches
  src/zoopipe/input_adapter/json.py
  src/zoopipe/input_adapter/sql.py
  src/zoopipe/output_adapter/arrow.py
  src/zoopipe/output_adapter/csv.py
  src/zoopipe/output_adapter/json.py
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/parquet.rs
  tests/integrations/benchmark_s3_arrow_duckdb.py
  tests/integrations/benchmark_s3_parquet_duckdb.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Code cleanup
  Cargo.lock
  Cargo.toml
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/duckdb.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/sql/backends/generic.rs
  src/zoopipe_core/src/parsers/sql/backends/postgres.rs
  src/zoopipe_core/src/pipeline.rs
Due: rust-lint, rust-tests

ADD: Zstd and Gzip compression support
  Cargo.lock
  Cargo.toml
  examples/01_basic_csv.py
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/parquet.rs
  tests/integrations/test_s3_compression.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Core compilation optimization
  Cargo.toml
Due: rust-lint, rust-tests

ADD: GCP and Azure cloud storage support
  Cargo.lock
  Cargo.toml
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/io/storage.rs
Due: rust-lint, rust-tests

UPDATE: Docs
  README.md
  docs/arrow.md
  docs/cloud-storage.md
  docs/csv.md
  docs/json.md
  docs/parquet.md
  docs/sql.md
  examples/18_s3_to_parquet.py
  examples/README.md
Due: python-lint, python-tests

FIX: Release build rdkafka-sys error
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: rust-lint, rust-tests

FIX: Fork breaks mutiprocess + multithread
  docs/pipemanager.md
  examples/13_pipemanager.py
  src/zoopipe/engines/local.py
Due: python-lint, python-tests

ADD: Zoosync (zoosyncmp) based engine
  examples/19_zoosync_engine.py
  pyproject.toml
  src/zoopipe/engines/zoosync.py
  tests/test_zoosync_engine.py
  uv.lock
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Code cleanup and lint
  benches/zoopipe_benchmarks.rs
  lint.sh
  src/zoopipe_core/src/error.rs
  src/zoopipe_core/src/executor/mod.rs
  src/zoopipe_core/src/executor/multithread.rs
  src/zoopipe_core/src/executor/strategy.rs
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/io/smart_reader.rs
  src/zoopipe_core/src/io/storage.rs
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/arrow_utils.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/duckdb.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/kafka.rs
  src/zoopipe_core/src/parsers/mod.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/pygen.rs
  src/zoopipe_core/src/parsers/sql/backends/generic.rs
  src/zoopipe_core/src/parsers/sql/backends/mod.rs
  src/zoopipe_core/src/parsers/sql/backends/postgres.rs
  src/zoopipe_core/src/parsers/sql/mod.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
  src/zoopipe_core/src/parsers/sql/types.rs
  src/zoopipe_core/src/parsers/sql/utils.rs
  src/zoopipe_core/src/parsers/sql/writer.rs
  src/zoopipe_core/src/pipeline.rs
  src/zoopipe_core/src/utils/interning.rs
  src/zoopipe_core/src/utils/mod.rs
Due: rust-lint, rust-tests

IMPROVE: Report code cleanup
  docs/pipemanager.md
  src/zoopipe/__init__.py
  src/zoopipe/engines/base.py
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/local.py
  src/zoopipe/engines/ray.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/manager.py
  src/zoopipe/pipe.py
  src/zoopipe/report.py
  tests/test_dask_engine.py
  tests/test_engines.py
  tests/test_report.py
  tests/test_zoosync_engine.py
Due: python-lint, python-tests

IMPROVE: PipeManager merge logic
  examples/19_zoosync_engine.py
  src/zoopipe/manager.py
  tests/test_pipemanager.py
Due: python-lint, python-tests

IMPROVE: Engines code cleanup
  src/zoopipe/engines/base.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/input_adapter/csv.py
  src/zoopipe/input_adapter/json.py
  src/zoopipe/manager.py
  src/zoopipe/output_adapter/csv.py
  src/zoopipe/output_adapter/parquet.py
  src/zoopipe/utils/path.py
Due: python-lint, python-tests

CHANGE: Release
  Cargo.lock
  Cargo.toml
Due: rust-lint, rust-tests

IMPROVE: Engine -> report DX
  src/zoopipe/engines/base.py
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/local.py
  src/zoopipe/engines/ray.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/utils/engine.py
Due: python-lint, python-tests

IMPROVE: Manager -> Engine -> Pipe relation cleanup
  src/zoopipe/engines/base.py
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/local.py
  src/zoopipe/engines/ray.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/manager.py
  src/zoopipe/utils/engine.py
  src/zoopipe/utils/path.py
  tests/test_pipemanager.py
Due: python-lint, python-tests

IMPROVE: Core lock once batching, central state
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/duckdb.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
  src/zoopipe_core/src/pipeline.rs
  src/zoopipe_core/src/utils/mod.rs
Due: rust-lint, rust-tests

IMPROVE: Remove duckdb in flavor of arrow/parquet adapters
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
  docs/arrow.md
  docs/duckdb.md
  docs/parquet.md
  docs/pipemanager.md
  examples/04_csv_to_duckdb.py
  examples/05_duckdb_to_jsonl.py
  examples/README.md
  mkdocs.yml
  src/zoopipe/__init__.py
  src/zoopipe/input_adapter/__init__.py
  src/zoopipe/input_adapter/duckdb.py
  src/zoopipe/output_adapter/__init__.py
  src/zoopipe/output_adapter/duckdb.py
  src/zoopipe_core/src/error.rs
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/duckdb.rs
  src/zoopipe_core/src/parsers/mod.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
  src/zoopipe_core/src/pipeline.rs
  tests/integrations/benchmark_s3_arrow_duckdb.py
  tests/integrations/benchmark_s3_parquet_duckdb.py
  tests/test_duckdb.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: PipeManager report code cleanup
  src/zoopipe/engines/base.py
  src/zoopipe/engines/local.py
  src/zoopipe/manager.py
  src/zoopipe/pipe.py
  src/zoopipe/report.py
  src/zoopipe/utils/progress.py
Due: python-lint, python-tests

ADD: Iceberg input / output adapters and coordinator
  Cargo.lock
  Cargo.toml
  README.md
  docs/iceberg.md
  examples/20_csv_to_iceberg.py
  examples/21_iceberg_to_jsonl.py
  src/zoopipe/__init__.py
  src/zoopipe/coordinators/__init__.py
  src/zoopipe/coordinators/iceberg.py
  src/zoopipe/engines/base.py
  src/zoopipe/engines/local.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/input_adapter/__init__.py
  src/zoopipe/input_adapter/iceberg.py
  src/zoopipe/manager.py
  src/zoopipe/output_adapter/__init__.py
  src/zoopipe/output_adapter/iceberg.py
  src/zoopipe/output_adapter/json.py
  src/zoopipe/pipe.py
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/mod.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/pipeline.rs
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Arrow and Parquet adapters performance
  docs/ADR/ADR-008-unified-io-abstraction.md
  docs/ADR/ADR-009-shared-memory-ipc.md
  docs/pipemanager.md
  docs/zoosync.md
  mkdocs.yml
  src/zoopipe/__init__.py
  src/zoopipe/zoopipe_rust_core.pyi
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/arrow_utils.rs
  src/zoopipe_core/src/parsers/parquet.rs
Due: python-lint, python-tests, rust-lint, rust-tests

FIX: Release build Perl dependency
  .github/workflows/release.yml
Due: none

FIX: Lint cache ci/cd issue
  tests/integrations/benchmark_copy_direct.py
  tests/test_excel.py
Due: python-lint, python-tests

ADD: OpenTelemetry traces
  docs/coordinators.md
  local.env
  mkdocs.yml
  pyproject.toml
  src/zoopipe/pipe.py
  src/zoopipe/utils/telemetry.py
  tests/test_telemetry.py
  uv.lock
Due: python-lint, python-tests, rust-lint, rust-tests

ADD: Deltalake input / output adapters and coordinator
  Cargo.lock
  Cargo.toml
  docs/delta.md
  examples/22_csv_to_delta.py
  examples/23_delta_to_jsonl.py
  src/zoopipe/__init__.py
  src/zoopipe/coordinators/delta.py
  src/zoopipe/engines/zoosync.py
  src/zoopipe/input_adapter/delta.py
  src/zoopipe/output_adapter/delta.py
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/mod.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/pipeline.rs
  src/zoopipe_core/src/utils/mod.rs
  tests/test_delta.py
Due: python-lint, python-tests, rust-lint, rust-tests
