Repository albertobadia/zoopipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, python-tests, rust-lint, rust-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-lint
        name: Python Lint
        entry: sh lint.sh
        language: system
        types: [python]
        pass_filenames: false
      
      - id: python-tests
        name: Python Tests
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        # Ejecutar tests puede ser lento, pero el usuario lo pidió explícitamente en el pre-commit
      
      - id: rust-lint
        name: Rust Lint
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types_or: [rust, toml] # Correr si cambian archivos rust o Cargo.toml
        pass_filenames: false
      
      - id: rust-tests
        name: Rust Tests
        entry: cargo test
        language: system
        types_or: [rust, toml]
        pass_filenames: false

IMPROVE: Use deltalake transaction commit
  Cargo.lock
  Cargo.toml
  src/zoopipe/__init__.py
  src/zoopipe/coordinators/delta.py
  src/zoopipe/output_adapter/delta.py
  src/zoopipe/pipe.py
  src/zoopipe/zoopipe_rust_core.pyi
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/lib.rs
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/kafka.rs
  src/zoopipe_core/src/parsers/sql/backends/generic.rs
  src/zoopipe_core/src/parsers/sql/backends/postgres.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
  src/zoopipe_core/src/parsers/sql/writer.rs
  src/zoopipe_core/src/pipeline.rs
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Pipeline core parsers code cleanup
  examples/02_jsonl_to_csv.py
  examples/14_basic_excel.py
  examples/16_kafka_adapter.py
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/parsers/arrow_utils.rs
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/kafka.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/pygen.rs
  src/zoopipe_core/src/parsers/sql/reader.rs
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: PipeManager sharding code cleanup
  src/zoopipe/coordinators/composite.py
  src/zoopipe/coordinators/default.py
  src/zoopipe/coordinators/delta.py
  src/zoopipe/coordinators/iceberg.py
  src/zoopipe/coordinators/merge.py
  src/zoopipe/input_adapter/base.py
  src/zoopipe/output_adapter/base.py
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/iceberg.rs
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Iceberg adapters commit transaction
  Cargo.lock
  Cargo.toml
  src/zoopipe_core/src/parsers/iceberg.rs
Due: rust-lint, rust-tests

IMPROVE: Keys parsing and python -> core dict optimization
  src/zoopipe_core/src/io/smart_reader.rs
  src/zoopipe_core/src/parsers/arrow_utils.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/pygen.rs
Due: rust-lint, rust-tests

IMPROVE: Input adapters optimization - columns projections
  lint.sh
  src/zoopipe/input_adapter/arrow.py
  src/zoopipe/input_adapter/base.py
  src/zoopipe/input_adapter/csv.py
  src/zoopipe/input_adapter/delta.py
  src/zoopipe/input_adapter/excel.py
  src/zoopipe/input_adapter/iceberg.py
  src/zoopipe/input_adapter/json.py
  src/zoopipe/input_adapter/kafka.py
  src/zoopipe/input_adapter/parquet.py
  src/zoopipe/input_adapter/sql.py
  src/zoopipe/manager.py
  src/zoopipe/output_adapter/arrow.py
  src/zoopipe/output_adapter/base.py
  src/zoopipe/output_adapter/parquet.py
  src/zoopipe/pipe.py
  src/zoopipe_core/src/parsers/arrow.rs
  src/zoopipe_core/src/parsers/arrow_utils.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/excel.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/parquet.rs
Due: python-lint, python-tests, rust-lint, rust-tests

FIX: Hooks parallelization
  src/zoopipe/coordinators/delta.py
  src/zoopipe/manager.py
  src/zoopipe/pipe.py
  src/zoopipe_core/src/pipeline.rs
  tests/integrations/benchmark_huge_csv.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Performance: core keys pre-bind
  src/zoopipe/input_adapter/delta.py
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/delta.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/kafka.rs
  tests/test_delta.py
Due: python-lint, python-tests, rust-lint, rust-tests

UPDATE: Docs
  README.md
  docs/dask.md
  docs/ray.md
  docs/zoosync.md
  mkdocs.yml
Due: none

IMPROVE: Pipeline progress and reports code cleanup
  README.md
  src/zoopipe/coordinators/composite.py
  src/zoopipe/coordinators/default.py
  src/zoopipe/coordinators/delta.py
  src/zoopipe/coordinators/iceberg.py
  src/zoopipe/engines/local.py
  src/zoopipe/manager.py
  src/zoopipe/pipe.py
  src/zoopipe/structs.py
  src/zoopipe/utils/progress.py
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/iceberg.rs
  src/zoopipe_core/src/parsers/parquet.rs
  src/zoopipe_core/src/parsers/pygen.rs
  src/zoopipe_core/src/pipeline.rs
  src/zoopipe_core/src/utils/mod.rs
Due: python-lint, python-tests, rust-lint, rust-tests

CHANGE: Update zoosyncmp dependency to zooparallel (new name)
  docs/zooparallel.md
  examples/19_zooparallel_engine.py
  examples/20_csv_to_iceberg.py
  examples/21_iceberg_to_jsonl.py
  examples/22_csv_to_delta.py
  examples/23_delta_to_jsonl.py
  examples/README.md
  mkdocs.yml
  pyproject.toml
  src/zoopipe/coordinators/iceberg.py
  src/zoopipe/engines/zooparallel.py
  src/zoopipe/input_adapter/iceberg.py
  src/zoopipe/manager.py
  src/zoopipe/output_adapter/iceberg.py
  src/zoopipe/pipe.py
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/io/smart_reader.rs
  src/zoopipe_core/src/parsers/csv.rs
  src/zoopipe_core/src/parsers/json.rs
  src/zoopipe_core/src/parsers/kafka.rs
  src/zoopipe_core/src/parsers/parquet.rs
  tests/test_zooparallel_engine.py
  uv.lock
Due: python-lint, python-tests, rust-lint, rust-tests

UPDATE: Release
  Cargo.lock
  Cargo.toml
  src/zoopipe/engines/base.py
  src/zoopipe/engines/dask.py
  src/zoopipe/engines/ray.py
  src/zoopipe/engines/zooparallel.py
  src/zoopipe/pipe.py
  src/zoopipe_core/src/executor/multithread.rs
  src/zoopipe_core/src/executor/strategy.rs
  src/zoopipe_core/src/io/mod.rs
  src/zoopipe_core/src/io/storage.rs
  src/zoopipe_core/src/utils/interning.rs
Due: python-lint, python-tests, rust-lint, rust-tests

UPDATE: Docs
  README.md
Due: none

UPDATE: Docs
  .pre-commit-config.yaml
Due: none

IMPROVE: Tests coverage edge cases
  src/zoopipe_core/src/io/smart_reader.rs
  tests/test_coordinators.py
  tests/test_hooks.py
  tests/test_rust_utils.py
  tests/test_structs.py
  tests/test_utils_dependency.py
  tests/test_utils_engine.py
  tests/test_utils_path.py
  tests/test_utils_progress.py
Due: python-lint, python-tests, rust-lint, rust-tests

IMPROVE: Add clone() method to Base Adapters for creating deep copies IMPROVE: Use cloned adapters in DefaultShardingCoordinator to prevent shared state issues across workers
  src/zoopipe/coordinators/default.py
  src/zoopipe/input_adapter/base.py
  src/zoopipe/output_adapter/base.py
Due: python-lint, python-tests

IMPROVE: Make Ray worker memory configurable instead of hardcoded 512MB
  src/zoopipe/engines/ray.py
Due: python-lint, python-tests

IMPROVE: Make path calculations in engine.py work from any directory by using absolute paths
  src/zoopipe/utils/engine.py
  tests/test_utils_engine.py
Due: python-lint, python-tests
